<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>

    {# Bootstrap  #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    {# Medium Style Editor #}
    {# Found at https://github.com/yabwe/medium-editor #}
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    {# Custom CSS #}
    <link rel="stylesheet" href="{% static "css/blog.css" %}">

    {# Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ubuntu" rel="stylesheet">
  </head>

  <body class='loader'>
    {# NAVBAR #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light techfont custom-navbar">
      <a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'admin:login' %}">Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/Abepena/">Github</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/abraham-pe%C3%B1a-8027a05b/">LinkedIn</a></li>
          </ul>
          <p></p>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item list-inline-item"><a class="nav-link" href="{% url 'post_new' %}">New Post</a></li>
            <li class="nav-item list-inline-item"><a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a></li>
            <li class="nav-item list-inline-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
            <li class="nav-item list-inline-item">
              Welcome: {{user.username}}
            </li>

            {% else %}
            <li class="nav-item">
              <a href="{% url 'login' %}"><span class="fas fa-user"></span></a>
            </li>

            {% endif %}
          </ul>
        </div>



      </div>

    </nav>

    {# CONTENT BLOCK #}
    <div class="content container vertical-center">
      <div class="row col-md-12">
        <div class="blog_posts">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

  </body>
</html>
